#The main installation of kaltura
install_kaltura(){
	installer_config=installer/installer/AppConfig.class.php
	
	# Check if there is an existing installation
	if [[ -d $base_dir ]];then
		printf "A Kaltura installation already exists in %s\nShould I remove it(y/n)?\n" "$base_dir" | tee -a $logfile
		read answer
		if [[ $answer == 'y' ]];then
			uninstall_kaltura
		else
			printf "Since there is an existing directory and you choose not to remove it the installation can not continue\n" |tee -a $logfile
			exit 1
		fi
	fi
		
	# Extract the installation file and modify the configuration file
	# to change the base directory
	if [[ -d $package_path/package ]];then
		printf "Package directory already exists, utilizing it\n" |  tee -a $logfile
	else
		if [[ ! -f $archive_file ]];then
			printf "Error: the kaltura archive file does not exist\n"  | tee -a $logfile
			exit 1
		fi
		mkdir -p $package_path &>> $logfile
		printf "Extracting file\n" | tee -a $logfile
		if ! tar -zxf $archive_file -C $package_path &>> $logfile;then
			printf "Error: unable to extract archive\n" | tee -a $logfile
			exit 1
		fi
	fi
	
	# Bring in fresh files
	"cp" templates/AppConfig.class.php $installer_config &>> $logfile
	"cp" templates/install.php installer/install.php &>> $logfile
	rm -f installer/user_input.ini &>> $logfile
	printf "Configuring kaltura installer\n" | tee -a $logfilg
	sed -i "s|%TIME_ZONE%|$time_zone|g" $installer_config &>> $logfile
	sed -i "s|%BASE_DIR%|$base_dir|g" $installer_config &>> $logfile
	sed -i "s|%HOSTNAME%|$hostname|g" $installer_config &>> $logfile
	sed -i "s|%ADMIN_USER%|$admin_user|g" $installer_config &>> $logfile
	sed -i "s|%ADMIN_PASSWORD%|$admin_pass|g" $installer_config &>> $logfile
	sed -i "s|%MYSQL_HOST%|$mysql_host|g" $installer_config &>> $logfile
	sed -i "s|%MYSQL_PORT%|$mysql_port|g" $installer_config	 &>> $logfile
	sed -i "s|%MYSQL_USER%|$mysql_user|g" $installer_config &>> $logfile
	sed -i "s|%MYSQL_PASSWORD%|$mysql_password|g" $installer_config &>> $logfile
	sed -i "s|%CREATE_NEW_DB%|$create_new_db|g" $installer_config &>> $logfile
	sed -i "s|%SPHINX_HOST%|$sphinx_host|g" $installer_config &>> $logfile
	sed -i "s|%KENVIORNMENT%|$kenvironment|g" $installer_config &>> $logfile
	sed -i "s|%PACKAGE_PATH%|$package_path/package|g" installer/install.php &>> $logfile
	
	
	# Run the installer in silent mode
	printf "Starting main installer\n"  | tee -a $logfile	
	cd installer
	if ! php install.php -s | tee -a $logfile;then
		printf "Error: main installation failed, %s\n" "$(tail $logfile)" |tee -a $logfile
		exit 1
	fi	
	printf "Main installer has completed\n" | tee -a $logfile
	
	# Change the verbosity on log files
	printf "Changing priority of log files to 5\n" | tee -a $logfile
	sed -i 's/priority.priority = 7/priority.priority = 5/g' $base_dir/app/configurations/logger.ini
	
	# Add red5 service link
	ln -s $base_dir/bin/red5/red5 /etc/init.d/red5
}	

uninstall_kaltura(){
	printf "Uninstalling Kaltura\n" | tee -a $logfile
	for var in kaltura_batch kaltura_monit kaltura_populate kaltura_sphinx;do
		printf "Stopping service %s\n" "$var" | tee -a $logfile
		service $var stop %>> /dev/null
	done
	printf "Removing the Kaltura directory\n" | tee -a $logfile
	rm -rf $base_dir
}
