# This installs patches to the system after Kaltura is installed
# right now there are no patches to be applied
install_patches(){
	printf "Installing patch #1 - Red 5 service symlink" | tee -a $logfile
	ln -s /opt/kaltura/bin/red5/red5 /etc/init.d/red5
	chkconfig red5 on
	service red5 start
	
	printf "Patching complete" | tee -a $logfile
}
