# This installs patches to the system after Kaltura is installed
# right now there are no patches to be applied
install_patches(){
	printf "Installing patch #1 - Red 5 service symlink" | tee -a $logfile
	ln -s /opt/kaltura/bin/red5/red5 /etc/init.d/red5
	chkconfig red5 on
	service red5 start
	
	printf "Installing patch #2 - Changing the apache user to kaltura" | tee -a $logfile
	sed -i 's/User apache/User kaltura/g' /etc/httpd/conf/httpd.conf
	sed -i 's/Group apache/Group kaltura/g' /etc/httpd/conf/httpd.conf
	find $base_dir -group apache -exec chgrp kaltura {} \;
	find $base_dir -user apache -exec chown kaltura {} \;

	printf "Installing patch #3 - Inserting the proper RTMP URL into configuration files" | tee -a $logfile
	find /opt/kaltura/web/content/uiconf -type f -exec sed -i 's|rtmp://{HOST_NAME}|rtmp://$rtmp_url|g' {} \;
	find /opt/kaltura/web/content/uiconf -type f -exec sed -i 's|rtmp://kaltura.com|rtmp://$rtmp_url|g' {} \;
	find /opt/kaltura/web/content/uiconf -type f -exec sed -i 's|rtmp://{DOMAIN_NAME}|rtmp://$rtmp_url|g' {} \;
	find /opt/kaltura/web/flash -type f -exec sed -i 's|rtmp://{HOST_NAME}|rtmp://$rtmp_url|g' {} \;
	find /opt/kaltura/web/flash -type f -exec sed -i 's|rtmp://kaltura.com|rtmp://$rtmp_url|g' {} \;
	find /opt/kaltura/web/flash -type f -exec sed -i 's|rtmp://{DOMAIN_NAME}|rtmp://$rtmp_url|g' {} \;
	
	printf "Flushing the cache after all patch" | tee -a $logfile
	rm -rf /opt/kaltura/app/alpha/cache/*
	rm -rf /opt/kaltura/app/cache/*
	rm -rf /opt/kaltura/web/content/cacheswf/*
	
	
	printf "Patching complete" | tee -a $logfile
}
