install_pentaho(){
	if [[ -d /usr/local/pentaho ]];then
		printf "Warning: Pentaho appears to be installed already, should I remove it(y/n)?"
		read answer
		if [[ $answer == 'y' ]];then
			uninstall_pentaho
		else
			exit 1
		fi
	fi
	if ! yum -y install java-1.6.0-openjdk &>> $logfile;then
		printf "\e[00;31mError:\e[00m unable to install java\n" | tee -a $logfile
	fi
	mkdir -p /usr/local/pentaho
	# Look for the file locally
	if [[ ! -f pdi-ce-4.2.1-stable.tar.gz ]]; then
		printf "Downloading Pentaho\n" | tee -a $logfile
		wget -nv http://sourceforge.net/projects/pentaho/files/Data%20Integration/4.2.1-stable/pdi-ce-4.2.1-stable.tar.gz -O /tmp/pdi-ce-4.2.1-stable.tar.gz
	fi
		
	if ! tar zxf /tmp/pdi-ce-4.2.1-stable.tar.gz -C /usr/local/pentaho &>> $logfile;then
		printf "\e[00;31mError:\e[00m unable to unpack pentaho archive\n" | tee -a $logfile
		exit 1
	fi
	mv /usr/local/pentaho/data-integration /usr/local/pentaho/pdi
    if ! chown -R $kuser:$kgroup /user/local/pentaho &>> $logfile;then
		printf "\e[00;33mWarning:\e[00m unable to set permissions on pentaho, the user and group probably don't exist yet\n" | tee -a $logfile
	fi
	printf "Pentaho sucessfully installed\n" | tee -a $logfile
}
uninstall_pentaho(){
	printf "Note: This will remove pentaho but keep java installed due to possible other dependancies\n" | tee -a $logfile
	rm -rf /usr/local/pentaho
	printf "Pentaho sucessfully uninstalled\n"  | tee -a $logfile
}
