install_pentaho(){
	if ! yum -y install java-1.6.0-openjdk &>> $logfile;then
		printf "Error: unable to install java\n" | tee -a $logfile
	fi
	mkdir -p /usr/local/pentaho
	if [[ ! -f pdi-ce-4.2.1-stable.tar.gz ]]; then
		wget http://sourceforge.net/projects/pentaho/files/Data%20Integration/4.2.1-stable/pdi-ce-4.2.1-stable.tar.gz -O /tmp/pdi-ce-4.2.1-stable.tar.gz &>> $logfile
	fi
		
	if ! tar zxf /tmp/pdi-ce-4.2.1-stable.tar.gz -C /usr/local/pentaho &>> $logfile;then
		printf "Error: unable to unpack pentaho archive\n" | tee -a $logfile
		exit 1
	fi
	mv /usr/local/pentaho/data-integration /usr/local/pentaho/pdi
    chown -R kuser:kgroup /user/local/pentaho &>> $logfile
}
	
