*apache_access.log*
*error_log*
/opt/kaltura/app/batch/controls/
*.rpm
*.mpg
*.srt
*.ainfo
*.vmetadata
*.ametadata
*.vinfo
*.ogg
*.3gp
*.webm
*.rm
*.swf
*.avi
*.f4v
*.ja
*.mp4
*.jpg
*.gif
*.png
*.jar
*.fla
*.mp3
*.wav
*.wmv
*.mov
*.flv
*.zip
*.gz
*.tar
*.tar.gz
*.tgz
*.ttf
*.pdf
*.img
*.x86_64
/etc/passwd*
/etc/shadow*
/opt/kaltura/log/
/opt/kaltura/cache/
/opt/kaltura/app/cache/
/opt/kaltura/dwh/tmp/
/opt/kaltura/dwh/logs/
/opt/kaltura/sphinx/
/opt/kaltura/tmp/
/opt/kaltura/web/tmp/
/opt/nfs/web/tmp/
*/web/tmp/zend_cache*
/proc/
/sys/
/dev/
/var/
/bin/
/lib/
/lib64/
/sbin/
/selinux/
/srv/
/sys/
/tmp/
/usr/
/var/log/
*.cache
*_cache-*
*cache_v3-*
*.log
thumb_*
/opt/adobe/ams/tmp/
searchd_is_not_running_email
/opt/adobe/ams/Apache2.2/cacheroot/
/opt/mediaspace/cache/
*.pid
*.rot
*.bootstrap
*.meta
*.pptx
*.ppt
